<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>SystemServiceServlet</servlet-name>
        <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
        <init-param>
            <param-name>services</param-name>
            <param-value>com.oneri.MyEndpoint</param-value>
        </init-param>
    </servlet>

    <!--******************GET SERVLETS**************************-->
    <servlet>
        <servlet-name>GetCommentsServlet</servlet-name>
        <servlet-class>com.oneri.getServlets.GetCommentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLikedContentServlet</servlet-name>
        <servlet-class>com.oneri.getServlets.GetLikedContentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListContentServlet</servlet-name>
        <servlet-class>com.oneri.getServlets.GetListContentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMyContentServlet</servlet-name>
        <servlet-class>com.oneri.getServlets.GetMyContentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMyInfosServlet</servlet-name>
        <servlet-class>com.oneri.getServlets.GetMyInfosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRandomContentServlet</servlet-name>
        <servlet-class>com.oneri.getServlets.GetRandomContentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRecommendationsServlet</servlet-name>
        <servlet-class>com.oneri.getServlets.GetRecommendationsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRelationServlet</servlet-name>
        <servlet-class>com.oneri.getServlets.GetRelationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSearchResultsServlet</servlet-name>
        <servlet-class>com.oneri.getServlets.GetSearchResultsServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TestAchilleServlet</servlet-name>
        <servlet-class>com.oneri.getServlets.TestAchilleServlet</servlet-class>
    </servlet>
    <!--********************POST SERVLETS****************************-->
    <servlet>
        <servlet-name>SaveContactServlet</servlet-name>
        <servlet-class>com.oneri.postServlets.SaveContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveContentServlet</servlet-name>
        <servlet-class>com.oneri.postServlets.SaveContentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveRelationServlet</servlet-name>
        <servlet-class>com.oneri.postServlets.SaveRelationServlet</servlet-class>
    </servlet>
    <!--*****************GET SERVLETS**************************-->

    <servlet-mapping>
        <servlet-name>GetCommentsServlet</servlet-name>
        <url-pattern>/getComments</url-pattern><!--Works-->
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GetLikedContentServlet</servlet-name>
        <url-pattern>/getLikedContent</url-pattern><!--Works-->
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GetListContentServlet</servlet-name>
        <url-pattern>/getListContent</url-pattern><!--Works-->
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GetMyContentServlet</servlet-name>
        <url-pattern>/getMyContent</url-pattern><!--Works-->
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GetMyInfosServlet</servlet-name>
        <url-pattern>/getMyInfos</url-pattern><!--Works-->
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GetRandomContentServlet</servlet-name>
        <url-pattern>/getRandomContent</url-pattern><!--Works-->
    </servlet-mapping>

    <servlet-mapping>
    <servlet-name>GetRecommendationsServlet</servlet-name>
    <url-pattern>/getRecommendations</url-pattern><!--Works-->
</servlet-mapping>

    <servlet-mapping>
        <servlet-name>GetRelationServlet</servlet-name>
        <url-pattern>/getRelation</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GetSearchResultsServlet</servlet-name>
        <url-pattern>/getSearchResults</url-pattern><!--Works-->
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TestAchilleServlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>


    <!--***************POST SERVLETS**************************-->

    <servlet-mapping>
        <servlet-name>SaveContactServlet</servlet-name>
        <!--l'URL associée-->
        <url-pattern>/saveContact</url-pattern><!--Works-->
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SaveRelationServlet</servlet-name>
        <!--l'URL associée-->
        <url-pattern>/saveRelation</url-pattern><!--Works-->
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SaveContentServlet</servlet-name>
        <!--l'URL associée-->
        <url-pattern>/saveContent</url-pattern><!--Works-->
    </servlet-mapping>



    <servlet-mapping>
        <servlet-name>SystemServiceServlet</servlet-name>
        <url-pattern>/_ah/spi/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>